<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Recipes</title>
</head>

<body>

    <span>Mon compte</span><br>
    <span>Bonjour, Theodore</span>


    <div class=cadre_1>
        <div class="petit_titre">
            <span>Nom, Prénom :</span>
        </div>

        <div class="reponses">
            <span>Théodore Prévot</span>
            <img src="">
        </div>

        <div class="petit_titre">
            <span>Email :</span>
        </div>
        <div class="reponses">
            <span>Prevottheodore@gmail.com</span>
            <img src="">
        </div>
        <div class="petit_titre">
            <span>Date de naissance :</span>
        </div>
        <div class="reponses">
            <span>19/03/2001</span>
        </div>
    </div>
    <div class=cadre_2>
        <img src="">
        <span>regime alimentaires</span>
        <img src="">
    </div>
    <div class=cadre_3>
        <img src="">
        <span>Disponibilités</span>
        <img src="">
    </div>
    <div class=cadre_4>
        <img src="">
        <span>ustensiles</span>
        <img src="">
    </div>

</body>

</html>