<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Myaccount</title>
</head>

<body>
    <div class="grandtitre">
        <span>Mon compte</span><br>
    </div>
    <div class="prenomnom">
        <span>Bonjour, Theodore</span>
    </div>

    <div class=cadre1>
        <div class="identite">
            <div class="petittitre un">
                <span>Nom, Prénom :</span>
            </div>

            <div class="reponses">
                <input type="text" id="fname" name="fname">
                <div class="stylo1">
                    <img src="/static/icons/stylo.svg">
                </div>
            </div>
        </div>
        <div class="Email">
            <div class="petittitre deux">
                <span>Email :</span>
            </div>
            <div class="reponses">
                <input type="text" id="Email" name="Email">
                <div class="stylo2">
                    <img src="/static/icons/stylo.svg">
                </div>
            </div>
        </div>
        <div class="date">
            <div class="petittitre trois">
                <span>Date de naissance :</span>
            </div>
            <div class="reponses">
                <input type="text" id="date" name="date">
                <div class="stylo3">
                    <img src="/static/icons/stylo.svg">
                </div>
            </div>
        </div>
    </div>
    <div class=cadre2>
        <div class="image1">
            <img src="/static/icons/nourriture.svg">
        </div>
        <div class="text">
            <span>regime alimentaires</span>
        </div>
        <div class="chevron1">
            <img src="/static/icons/chevron.svg">
        </div>
    </div>
    <div class=cadre3>
        <div class="image1">
            <img src="/static/icons/clock2.svg">
        </div>
        <div class="text">
            <span>Disponibilités</span>
        </div>
        <div class="chevron2">
            <img src="/static/icons/chevron.svg">
        </div>
    </div>
    <div class=cadre4>
        <div class="image1">
            <img src="/static/icons/ustensiles.svg">
        </div>
        <div class="text">
            <span>ustensiles</span>
        </div>
        <div class="chevron3">
            <img src="/static/icons/chevron.svg">
        </div>
    </div>

</body>

</html>