<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>connection</title>
</head>

<body>
    <h1>Cuiz.in</h1>
    <p>Vous n'aimez pas faire la cuisine ?<br /> Essayer Cuiz.in</p>

    <p><a
            href=" https://accounts.google.com/signin/v2/identifier?hl=fr&passive=true&continue=https%3A%2F%2Fwww.google.com%2Fsearch%3Fq%3Dgoogle%26rlz%3D1C5CHFA_enFR863FR865%26oq%3Dgoogle%26aqs%3Dchrome..69i57j69i60l3j69i65l2j69i60l2.1335j0j1%26sourceid%3Dchrome%26ie%3DUTF-8&ec=GAZAAQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
            Se connecter avec google </a> ou <a href=https://www.facebook.com/></a></p>
</body>

</html>