<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>connection</title>
</head>

<body>

    <section>
        <div class="rectangle1">
            <div class="rectangle1_texte">
                <p class="titre">Cuiz.in</p>
                <p class="slogan">Vous n'aimez pas faire la cuisine ?<br /> <br /> Essayez Cuiz.in</p>
            </div>
        </div>

        <div class="rectangle2">
            <div class="third-parties">
                <a href="#google" id="googleLogo"> <img src="../connection/Logos/Logo_Google3.png"> </a>
                <a href="#Facebook" id="fbLogo"><img src="../connection/Logos/Logo_Facebook.png"> </a>
            </div>

            <div class="rectangle2_texte">
                <p class="ou">ou</p>
                <div class="form">
                    <div>
                        <label class="mail" for="Mail"> Votre e-mail : </br> </label>
                        <input class="barre_mail" placeholder="Votre e-mail" type="email" id="Mail" name="Mail">
                    </div>

                    <div>
                        <label class="mdp" for="Mot de passe"> Mot de passe : </br> </label>
                        <input class="barre_mdp" placeholder="Mot de passe" type="password" id="Mot de passe"
                            name="Mot de passe">
                    </div>

                    <div>
                        <input class="bouton" type="submit" value="Allons-y !">
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>