<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>connection</title>
</head>

<body>
    <h1>Cuiz.in</h1>
    <p>Vous n'aimez pas faire la cuisine ?<br /> Essayer Cuiz.in</p>

    <p> <a href="#google"><img src="Desktop/Logo Google .png"> </a> ou <a href="#Facebook"><img
                src="Desktop/Logo Facebook.png"> </a></p>

    <div>
        <label for="Mail"> Votre e-mail: </br> </label>
        <input type="email" id="Mail" name="Mail">
    </div>

    <div>
        <label for="Mot de passe"> Mot de passe: </br> </label>
        <input type="password" id="Mot de passe" name="Mot de passe">
    </div>

    <div>
        <input type="submit" value="Allons-y!">h

    </div>



</body>

</html>