<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>connection</title>
</head>

<body>
    <p class="titre">Cuiz.in</p>
    <p class="slogan">Vous n'aimez pas faire la cuisine ?<br /> <br /> Essayer Cuiz.in</p>

    <p class="icône_de_co_google"> <a href="#google"> <img src="Desktop/Logo Google .png"> </a> </p>
    <p class="icône_de_co_facebook"> <a href="#Facebook"><img src="Desktop/Logo Facebook.png"> </a> </p>
    <p class="ou">ou</p>

    <div>
        <label class="mail" for="Mail"> Votre e-mail: </br> </label>
        <input class="barre_mail" type="email" id="Mail" name="Mail">
    </div>

    <div>
        <label class="mdp" for="Mot de passe"> Mot de passe: </br> </label>
        <input class="barre_mdp" type="password" id="Mot de passe" name="Mot de passe">
    </div>

    <div>
        <input class="bouton" type="submit" value="Allons-y!">

    </div>



</body>

</html>