/* Error: expected more input.
 *   ,
 * 2 | {color :red;}  /*commentaire/*
 *   |                               ^
 *   '
 *   src/views/connection/style.scss 2:31  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected more input.\a   \2577 \a 2 \2502  {color :red;}  /*commentaire/*\a   \2502                                ^\a   \2575 \a   src/views/connection/style.scss 2:31  root stylesheet";
}
