<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>home</title>
</head>

<body>
    <section>

        <div class="image">
            <a> <img src="../Home/Images/My big burger.jpeg"></a>

        </div>

        <div class="plat">

            <p>Plat <img class="Végétarien" src="../../../static/icons/feuille.svg"> </p>

        </div>

        <div class="bas_de_la_page">
            <div class="informations_générales">

                <p> <img class="Temps" src="../../../static/icons/chronométre.svg"> 30 ans </p>
                <p> <img class="Nombre_personne" src="../../../static/icons/icone_user.svg"> 30 </p>
                <p> <img class="Végétarien" src="../../../static/icons/icone_énergie.svg"> 1 0000 000 kcal. </p>
            </div>
            <div class="likes">
                <a><img src="../../../static/icons/heart-red.svg"></a>
                <p>87889</p>


            </div>


        </div>







    </section>

</body>