<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css" />
    <title>home</title>
</head>

<body>
    <section>

        <img class="image" src="../Home/Images/My big burger.jpeg">

        <div class="informations_générales_plat">


            <a class="Nom_du_plat">Plat <img class="végétarien" src="../../../static/icons/feuille.svg"></a>


        </div>


        <div class="bas_de_la_page">
            <div class="informations_précises">

                <p> <img class="Temps" src="../../../static/icons/chronométre.svg"> 30 ans </p>
                <p> <img class="Nombre_personne" src="../../../static/icons/icone_user.svg"> 30 </p>
                <p> <img class="Énergie" src="../../../static/icons/icone_énergie.svg"> 1 0000 000 kcal. </p>
            </div>
            <div class="likes">
                <img src="../../../static/icons/heart-red.svg">
                <p>87889</p>


            </div>


        </div>







    </section>

</body>