@font-face {
    font-family: 'montserrat';
    src: url("../connection/Webfontkit/Montserrat-Medium.woff"), url("../connection/Webfontkit/Montserrat-Medium.woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'montserrat_bold';
    src: url('../connection/Webfontkit/Montserrat-Bold.woff'), url('../connection/Webfontkit/Montserrat-Bold.woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

section {
    width: 293px;
    height: 452px;
    margin: auto;
    margin-top: 79px;
    background: #F1F6F6;
    box-shadow: 10px 0px 20px -15px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
}

body {
    font-size: 10px;
    width: 100%;
    margin: 0;
    font-family: 'montserrat';
    color: #6B6B6B
}

.image {
    border-radius: 20px;
    width: 259px;
    height: 219px;
    margin-left: 17px;
    margin-top: 17px;
    margin-right: 17px;
    margin-bottom: 13px
}

.informations_générales_plat {
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: 29px;
}

.Nom_du_plat {
    font-size: 30px;
}

.végétarien {
    float: right;
    margin-top: 10px
}

.bas_de_la_page {
    margin-left: 29px;
    margin-right: 17px
}

.informations_précises {
    margin-bottom: 35px
}

.Temps {
    margin-top: -4px;
    float: left;
    margin-right: 6px;
}

.Nombre_personne {
    margin-top: -4px;
    float: left;
    margin-right: 6px;
}

.Énergie {
    margin-top: -4px;
    float: left;
    margin-right: 11px;
    margin-left: 3px;
}

.likes {
    text-align: center;
    float: right;
}

.nombre_likes {
    margin-top: -1px
}