<!-- Html structure needs to be deleted, only #bottombar should remain -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="bottombar">
		<div class="discover selected">
			<img src="../../../static/icons/heart.svg" alt="Discover">
			<img src="../../../static/icons/heart-red.svg" alt="Discover" class="focus">
			<span>Découverte</span>
		</div>
		<div class="recipes">
			<img src="../../../static/icons/recipe.svg" alt="Recipes">
			<img src="../../../static/icons/recipe-red.svg" alt="Recipes" class="focus">
			<span>Recettes</span>
		</div>
		<div class="account">
			<img src="../../../static/icons/account.svg" alt="My Account">
			<img src="../../../static/icons/account-red.svg" alt="My Account" class="focus">
			<span>Mon Compte</span>
		</div>
	</div>
</body>
</html>
